*{
    margin:0;
    padding:0;
}
/* css for header */
.header{
    /* margin-top: 1%; */
    /* height:90px; */
    width:100%;
    /* background-color:rgba(16,128,234,1); */
    display: flex;
    justify-content: center;
    position:fixed;
    /* background-color: yellow; */
}
.container{
    width:90%;    
    /* background-color: red; */
    display: flex;
    
}
.logo{
    width:25%;
    height:90px;
    /* background-color: yellow; */
    font-size:30px;
    line-height: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
    color:white;
}
.nav{
    height: 90px;
    width:35%;
    /* background-color: green; */
    display: flex;
}
.header_container{
    justify-content: space-between;
}
.nav-item, .nav-item a{
    text-decoration: none;
    width:20%;
    /* height:90px; */
    /* font-size: 18px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    line-height:90px;
    color:white;
    cursor:pointer;
    transition: 0.4s;
    /* background-color: aqua; */
}
.nav-item:hover ,.nav-item a:hover{
    background-color: white;
    color:blue;
}
html{
    scroll-behavior:smooth ;
}
.banner{
    height:95vh;
    /* width:100%; */
    background-color: grey;
    /* border:1px solid red; */
    /* background-image: url(./images/banner.jpg); */
    /* background-repeat: no-repeat; */
    background-size:cover;
    
}
.overlay{
    height:95vh;
    width:100%;
    background-color:rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
/*  */
}
.banner_text{
    height:280px;
    width:60%;
    background-color:rgba(16,128,234,0.7);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
   flex-direction: column;
    align-items: center;
    color: white;
}
.padd{
    padding:40px;
}
.newpadd,span{
    display: flex;
    flex-direction: row;

}
.banner_title{
margin-bottom: 30px;
}
.banner_title img{  
    margin-bottom: 15px;
    height: 200px;
    border-radius: 50%;

}
.banner_desc{
 margin-left: 30px; 
 text-align: justify;
 padding-top: 2%; 
 line-height: 25px; 
}
.banner_btn{
    padding-left:60px;
    padding-right:60px;
    padding-top: 15px;
    padding-bottom:15px;
    text-transform:uppercase;
    background-color:transparent;
    color:white;
    font-weight: bold;
    font-family:'Segoe UI';
    border:3px solid white;
    transition: 0.4s;
}
.banner_btn:hover{
    cursor: pointer;
    background-color:white;
    color:rgba(16,128,234,1)
}
/* css for services */
.skillmainheader{
    padding-top:50px;
    padding-bottom:50px;
    background-color:#e6e6e6;
    display:flex;
    align-items: center;
    flex-direction:column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.skillheader{
    font-size: 35px;
    text-align: center;
    padding: 0px 4px;
    padding-bottom: 25px;
}
html {
    scroll-behavior: smooth;
  }

.skill {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.skill_icon img {
    height: 90px;
    /* background-color: aqua; */
    margin: 10px;
    padding: 10px;

}
/* css for footer */
.footer{
    /* padding-top:50px; */
    padding-bottom:50px;
    background-color:#353535;
    display:flex;
    justify-content: center;

}
.footer_child{
    height:300px;
    /* background-color:gray; */
    width:25%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-items: center;
    align-items: center;
    /* border:1px solid red; */
}
#quicklinks{
    margin-left: 4%;
    padding-top: 0;
    width: 15%;
    /* background-color: bisque; */
}

#map{
    padding-top: 20px;
    /* border:1px solid red; */
}

.ulinks{
    margin-top:40px;
}
li{
    list-style-type: none;
    margin-bottom:10px;
    color:white;
}
.first{
    font-size:22px;
}
.footer_child_4{
    display:flex;
    align-items: center;
}

.social_container{
    justify-content: space-between;
    /* width:70%; */
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}
.social_icon{
    height:50px;
    width:50px;
    /* background-color:white; */
    
}

#social_links{
    display: flex;
}
.social_icon img{
    height: 30px;
}
.subfooter{
    color: white;
    line-height: 30px;
}